<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>InstaTeam</title>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/site.css"/>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="index.html">InstaTeam</a>
                    <a class="new-project button icon-left" href="#"><i class="material-icons">add</i> New Project</a>
                </div>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="index.html">Projects</a></li>
                <li class="selected"><a href="collaborators.html">Collaborators</a></li>
                <li><a href="roles.html">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <form>
                    <h2>Manage Collaborators</h2>
                    <ul class="checkbox-list" th:each = "collaborator : ${collaborators}" >
                        <li>
                            <span class="primary" th:text="${collaborator.name}">Michael Pemulius</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <div th:each = "role : ${allRoles}">
                                        <option value="#" th:text = "${role.name}">Designer</option>
                                    </div>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions add-new-collaborator">
                        <input type="text" placeholder="Name..."/>
                        <div class="custom-select">
                            <span class="dropdown-arrow"></span>
                            <select>
                                <option value="#">Role...</option>
                                <option value="#">Developer</option>
                                <option value="#">Designer</option>
                                <option value="#">QA</option>
                                <option value="#">DevOps</option>
                                <option value="#">Copywriter</option>
                            </select>
                        </div>
                        <a class="button" href="#">Add</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>