<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"/>
    <body>
        <header th:replace="fragments/layout :: header"/>
        <nav th:replace="fragments/layout :: nav"/>
        <section>
            <div class="container wrapper">
                <form th:action="@{/save-project}" method="post" th:object="${project}">
                    <div>
                        <label for="project_name"> Project Name:</label>
                        <!--Todo: Mis alignment of the project name-->
                        <input type="text" name="project_name" th:field="*{name}"/>
                    </div>
                    <div>
                        <label for="project_description" >Project Description:</label>
                        <textarea rows="4" name="project_description" th:field="*{description}"/>
                    </div>
                    <div>
                        <label for="project_status">Project Status:</label>
                        <div class="custom-select">
                        <span class="dropdown-arrow"></span>
                            <select name="project_status" th:field="*{status}">
                                <option value="active">Active</option>
                                <option value="archived">Archived</option>
                                <option value="not_started">Not Started</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="project_roles">Project Roles:</label>

                        <ul class="checkbox-list">
                            <li th:each="role,stat : ${allRoles}">
                                <input type="checkbox" th:value="${role.id}" th:field="*{roles[__${stat.index}__].id}"/>
                                <span class="primary" th:text="${role.name}"> Developer</span>
                            </li>
                        </ul>

                    </div>
                    <div class="actions">
                        <!--These hidden fileds are very important..they are sent,because while creation of object these are required-->
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{slug}"/>
                        <input type="submit" value="Save Project"  class="button"/>
                        <a href="#" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>