<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"/>
<body>
        <header th:replace="fragments/layout :: header"/>
        <nav th:replace="fragments/layout :: nav"/>
        <section>
            <div class="container wrapper">
                <div class="project-list" th:each="project : ${projects}">
                    <div class="project">
                        <h2><a th:href="@{|/projects/${project.slug}|}" th:text="${project.name}" >Website Project</a></h2>
                        <p th:text="${project.description}">Design and build a custom website</p>
                        <!--TODO: Change attribute class to dynamic one-->
                        <span class="tag active" th:text="${project.status}">Active</span>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>