<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"/>
<body>
    <header th:replace="fragments/layout :: header"/>
    <nav th:replace="fragments/layout :: nav"/>
        <section>
            <div class="container wrapper">
                <form>
                    <label>Edit Collaborators: Website Project</label>
                    <ul class="checkbox-list">
                        <li><span class="primary" th:each = "roleCollabElement : ${allRolesWithCollaborators}" th:text = "${roleCollabElement.key}">Developer</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select th:each = "collab : ${roleCollabElement.value}">
                                    <option value="#" th:text = "${collab.name}">Michael Pemulis</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions">
                        <input type="submit" value="Save" class="button"/>
                        <a href="#" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>