<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"/>
<body>
    <header th:replace="fragments/layout :: header"/>
    <nav th:replace="fragments/layout :: nav"/>
    <section>
        <div class="container wrapper">
            <form th:action="add-role" th:method="post" th:object ="${role}">
                <h2>Manage Roles</h2>
                    <div>
                        <ul class="checkbox-list">
                            <li th:each="currentRole : ${allRoles}">
                                <span class="primary" th:text="${currentRole.name}">Developer</span>
                            </li>
                        </ul>
                    </div>
                    <div class="actions add-new-role">
                        <input type="text" placeholder="New Role..." th:field="*{name}"/>
                        <input type="submit" class="button" value="Add Role">Add</input>
                    </div>
            </form>
        </div>
    </section>
</body>
</html>